### IF ELSE

In [1]:
num=24

In [8]:
if(num%2==0):
    print('This is even')
else:
    print('This is odd')

This is even

### Function

In [9]:
def sum_func(num):
    if num%2==0:
        print('This is even')
    else:
        print('This is odd')

In [10]:
sum_func(34)

This is even

In [17]:
data1=34
sum_func(data1)

This is even

### Return type function

In [13]:
def print_func():
    return 'This is print function'

In [15]:
data=print_func()

In [16]:
print(data)

This is print function

In [23]:
def Print_func():
    print('This is print function')

In [25]:
Print_func()

This is print function

### Positional and Keyword arguments
- Positional arguments are the arguments that are passed in the function
- Keyword arguments are the arguments that can be predefined so if no value is passed then the argument gets the predefined value.

In [26]:
def pre_def(name,age=23):
    print('My name is {} and my age is {}'.format(name,age))

In [27]:
pre_def('Superman')

My name is Superman and my age is 23

In [28]:
pre_def('Batman',34)

My name is Batman and my age is 34

### args and kwargs
- Here using args and kwargs multiple values can be passed using same alias

In [5]:
def func(*args,**kwargs):
    print(args)
    print(kwargs)

In [4]:
func('ram','hari',age=34,dob=23)

('ram', 'hari')
{'age': 34, 'dob': 23}

In [1]:
# This can also be done using a list and a dictionary

In [3]:
lst=['shyam','gita']
dict_args={'age':32,'dob':3434}

In [6]:
func(lst,dict_args)

(['shyam', 'gita'], {'age': 32, 'dob': 3434})
{}

In [8]:
# Here (lst,dict_args) considers both the lst and dict as *args so you have to specify by using * and **

In [9]:
func(*lst,**dict_args)

('shyam', 'gita')
{'age': 32, 'dob': 3434}

### Function returning two different values

In [20]:
def two_values(one,two):
    if one%2==0:
        return one+two,one*two
    else:
        return one-two,one/two

In [13]:
print("If both are even then sum and multiplication is {}".format(two_values(2,3)))

If both are even then sum and multiplication is (5, 6)

In [22]:
print("{}".format(two_values(3,4)))

(-1, 0.75)

In [23]:
lst=[1,2,3,4,5,6]

In [26]:
def sum(lst):
    evensum=0
    oddsum=0
    for i in lst:
        if i%2==0:
            evensum=evensum+i
        else:
            oddsum=oddsum+i
    return oddsum,evensum

In [28]:
print("The even and odd sum is:",sum(lst))

The even and odd sum is: (9, 12)

### Taking input in python

In [29]:
val=input("Enter the number:")

Enter the number:2332

In [30]:
val

'2332'

In [31]:
val=input("Enter the string:")

Enter the string:pam ram sita gita

In [32]:
val

'pam ram sita gita'

In [33]:
type(val)

str

- Taking input as list

In [36]:
lst=list(input("Enter a list:"))

Enter a list:123456789

In [37]:
lst

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [38]:
type(lst)

list

### Map function

In [29]:
def func(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [30]:
func(24)

'The number 24 is even'

- Here in case of list the compilation process is time consuming so we use map

In [32]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [33]:
map(func,lst)

- Here the memory is not instantiated just by creating the map, it is instianted by creating the list

In [34]:
list(map(func,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 0 is even']

### Lambda function
- Also called as anonymous function i.e a function with no name

In [35]:
def add(a,b):
    return a+b

In [36]:
add(4,5)

9

- Structure of lambda function is:
- variable= lambda inputs:operation
- And to call the function use:  variable(inputs)

In [40]:
sum=lambda a,b:a+b

In [41]:
sum(4,5)

9

In [42]:
even=lambda a:a%2==0

In [43]:
even(5)

False

In [44]:
plus=lambda x,y,z:x+y+z

In [45]:
plus(1,2,3)

6

### Filter function

In [51]:
def Func(num):
    if num%2==0:
        return True
    else:
        return False

In [52]:
Func(5)

False

In [54]:
Lst=[1,2,3,4,5,6,7,8,9,0]

In [55]:
filter(Func,Lst)

- Here memory has not been initialized yet

In [56]:
list(filter(Func,Lst))

[2, 4, 6, 8, 0]

- This can be directly done using

In [58]:
list(filter(lambda num:num%2!=0,Lst))

[1, 3, 5, 7, 9]

In [59]:
list(map(lambda num:num%2!=0,Lst))

[True, False, True, False, True, False, True, False, True, False]

### List comprehension

In [63]:
lst1=[]
def square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [64]:
square([1,2,3,4,5])

[1, 4, 9, 16, 25]

- This looping task can be directly done as shown below

In [65]:
lst=[1,2,3,4,5]

In [66]:
[i*i for i in lst]

[1, 4, 9, 16, 25]

In [68]:
lst

[1, 2, 3, 4, 5]

In [70]:
LST=[i*i for i in lst]
LST

[1, 4, 9, 16, 25]

- If conditions can also be added into the list comprehension

In [71]:
LST1=[i*i for i in lst if i%2!=0]

In [72]:
print(LST1)

[1, 9, 25]

### Iterables vs Iterators

In [73]:
lst=[1,2,3,4,5,6,7,8,9]

In [75]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

- Here we can iterate through all the elements of the list so, the list(lst) is iterable

#### Iterator
- Here in iterator all the values are not initialized in the memory. The values are only initialized when we call next function
- The memory is initialized on by one in memory from the starting element
- If the next is at the last element then further executing the next function throws error but the for loop doesn't throw error and it shows only the elements present in the list

In [76]:
iter(lst)

In [100]:
lst1=iter(lst)

In [101]:
next(lst1)

1

In [102]:
next(lst1)

2

In [103]:
for i in lst1:
    print(i)

3
4
5
6
7
8
9